body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px 0;
    text-align: center;
    z-index: 9999;
}

#loginButton,
#logoutButton {
    padding: 8px 15px;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
}

.navbar button img {
    width: 20px;
    height: 20px;
}

.navbarTitle {
    margin-left: 20px;
}

.content {
    padding-top: 50px;
}

.content-wrapper {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 100%;
}

.hover-background {
    transition: background-color 0.3s ease;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
}
