/* Reset des marges par défaut */
body {
    margin: 0;
    padding: 0;
}

/* Style de la barre noire fixe */
.navbar {
    display: flex;
    justify-content: space-between; /* Espacement automatique des éléments */
    align-items: center; /* Centrer verticalement */
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px 0; /* Espacement interne */
    text-align: center;
    z-index: 9999; /* Mettre la barre noire au-dessus du contenu */
}

/* Style du bouton dans la navbar */
.navbar button {
    padding: 8px 15px; /* Espacement interne */
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
}
.navbar button img {
    width: 20px;
    height: 20px;
}
.navbarTitle {
    margin-left: 20px;
}


/* Style pour décaler le contenu sous la barre noire */
.content {
    padding-top: 50px; /* Pour compenser la hauteur de la barre noire */
}

/* Wrapper pour le contenu */
.content-wrapper {
    width: 100%; /* Utilise toute la largeur disponible */
    padding: 20px; /* Espacement autour du contenu */
    box-sizing: border-box; /* Inclut le padding dans la largeur */
    margin: 0 auto; /* Centre le contenu horizontalement */
    max-width: 100%; /* Limite la largeur à 100% de la largeur parente */
}
.hover-background {
    transition: background-color 0.3s ease;
    border-radius: 10px; /* Rayon de 10 pixels pour les coins arrondis */
    padding: 10px; /* Ajoute un peu de marge intérieure pour l'apparence */
    margin-bottom: 5px; /* Ajoute un peu d'espace entre chaque élément */
}
